# <center>OrientDB VS Neo4J : la guerre des graphes</center>

### <center>Auteurs : Chassagnon - Fischer - Sow </center>

<img src="pilotes_img.jpg" width="1100" height="400">

### Outline
####  Introduction
#### 1. OrientDB une base de donnée multimodèle 
  > ##### a. Présentation de la base de donnée 
  > ##### b. Installation et premiers pas 
#### 2. Comparaison avec Neo4J
  > ##### a. Notre approche (présenter le dataset ici)
  > ##### b. Création des bases de données
  > ##### c. Requêtes
#### 3. Conclusion sur la comparaison et Limites de notre approche
####  Conclusion générale

# Introduction

<div style="text-align: justify"> Le big data, cette technologie révolutionnaire qui va changer nos vies. C'est en ces termes qu'est présenté ce concept né fin des années 90 aux États-unis. Ce termes est en effet maintenant devenu un "buzz word" utilisé à tout va dans les sphères médiatiques et dans le marketing pour attirer l'attention ou susciter l'engouement autour de technologies qui dans la majorité des cas ne sont pas totalement maîtrisées. Cependant, derrière ce terme se cache des solutions certes innovantes mais qui dépassent la simple traduction littérale de "grosses masses de données" qu'on lui attribue. Elle n'est en réalité pas seulement liée au volume de donnée mais aussi et surtout à la variété de celles-ci (leur hétérogénéité), la vélocité à laquelle elle nous parviennent, leur valeur et véracité. On parle des cinq V du big data. 
L'écosystème du big data a notamment fait sa révolution grâce à l'évolution des architectures informatiques et à la création de la technique de MapReduce par google (dans le framework Hadoop). Mais aussi au changement de paradigme que représente le pasage des bases de données relationnées utilisant le language SQL (Structured query Language) aux systèmes NoSQL (Not Only SQL). Malgré la domination du SQL qui reste le type de base de donnée prépondérant, nous assistons à l'émergence du NoSQL propulsé notamment par la dynamique de nouvelles start-up qui sont souvent rachetés par les géants "traditionnels" du big data que sont Oracle, IBM, Google. 
Parmi ces technologies NoSQL, nous distinguons notamment les bases de données de type graphes qui stockent la donnée sous forme de graphes en liant des neouds (Nodes - Vertex) grâce à des relations (Links - Edges). Elle sont très utilisées par les géants du net comme Facebook ou Twitter pour représenter les relations qui existent entre les utilisateurs. 
Dans cet exposé, nous allons faire essayer de présenter l'une des bases de données de type graphe OrientDB en la comparant notamment à une base de donnée orientée graphe concurrante Neo4J. Nous utiliserons leurs "drivers" python que sont respectivement pyrorient and py2neo. </div>

## 1. OrientDB une base de donnée multimodèle

### a. Présentation de la base de donnée

OrientDB a vu le jour en 2010 grâce à Luca Garulli. Elle a très vite revendiquée le titre de première base de donnée multimodèle marquant, selon son créateur, la nouvelle révolution du NoSQL. Multimodèle ici se référe au fait que OrientDB a été réfléchie pour pouvoir notamment gérer à la fois des données de type graphes, documents et clés-valeurs. Ce qui marque une certaine révolution. 
Sa particularité est qu'elle inclue une couche du language SQL. Cependant, au lieu de parcourir les relations (edges) grâce à des jointures (une des plus importante feature du SQL), des liens (Links) sont utilisés. Il s'agit de liaisons directes par enregistrement d’un pointeur vers l’objet. Ce qui la différencie des bases de données relationnelles. Cela conduit à une récupération rapide de données reliées par rapport aux jointures dans un Système de Gestion de Base de Données (SGBD) qui pour nous est un hybride Relationnel-Graphe. Nous évoquerons dans la suite de l'exposé cette dernière comme une SGBD-G. 
De tous les types de stockage de données évoqués ci-dessus, le type graphe utilisé aussi par Neo4J est décrit dans la littérature comme le plus structurant en NoSQL (VERGNES, 2015). L'essence même de la donnée est ici conservée.

<img src="graph_eg.png" width="800" height="400">

<center> Figure 1 : Exemple de SGBD orienté graphe (BMC, 2019) </center>

Les SGBD graphes ont comme évoquée une gestion des données basée sur des nœuds (les individus divers), possédant un certain nombre de propriétés (informations), reliés entre eux par des arêtes (edges). Les graphes peuvent gérer des modèles très connectés avec une grande quantité de données en gardant leur structure au niveau du réseau ainsi formé. Elles utilisent les propriétées de la théorie des graphes ..................

Écrite en Java, OrientDB s’appuie sur une communauté open source pour se développer, dirigée par OrientDB LTD qui est une filiale de SAP. Cette dernière l'a acquise après le rachat de CallidusCloud en 2018. La stratégie de SAP concernant OrientDB a été claire dès le rachat. La structure resterait assez indépendante, l'équipe maintenue et le développement open source. Ainsi, vous pouvez contribuer facilement à OrientDB et dialoguer avec l'équipe [ici](https://github.com/orientechnologies/orientdb).
Elle possède toutes les fonctions natives d’un graph data base avec la flexibilité et la rapidité d’un document store (OrientDB).
Plusieurs versions d’OrientDB existent, une version entreprise et une autre communautaire. Nous traiterons ici seulement de cette dernière, gratuite.

### b. Installation et premiers pas

#### Installation

Nous détaillerons dans cette partie l'installation et la mise en place de la base de donnée. Nous utiliserons de la documentation issues principalement de notre expérience personnelle avec OrientDB, ainsi que le [MOOC de Udemy sur OrientDB](https://www.udemy.com/join/login-popup/?next=/course/orientdb-getting-started/learn/lecture/1726168#overview) et le [site officiel d’OrientDB](www.orientdb.org). Toutes ces étapes ne concernent de plus que la version gratuite (appelée Community Edition) disponible sous licence Apache2 (utilisation et distribution à des fins personnels, académiques et commerciales sans restriction).

Prérequis : OrientDB nécessite de posséder les systèmes d'exploitation qui peuvent implémenter une machine virtuelle Java : 
- Microsoft Windows 95/NT et versions postérieures, 
- Mac OS X, 
- Linux,
- Solaris...
Mais aussi d'avoir une version de Java ultérieure à 1.7. Lors de notre première prise en main, nous avons constaté que même certaines versions ultérieures avaient du mal a être supporté par OrientDB. Nous conseillons si vous rencontrez des problèmes d'execution du fichier orientDB de désinstaller complétement Java et de réinstaller l'ensemble du JDK 8.

L’installation est très simple et comporte 3 étapes principales : 
Téléchargement // Décompression - Unzip // Lancement
 
-          Télécharger et installer Java :  https://www.java.com/fr/ (version offline) s’il n’est pas déjà présent sur la machine
-          Télécharger OrientDB selon le système d’exploitation : https://www.orientdb.org/download
-          Décompresser/unzip le dossier, renommer le dossier de version en orientdb

Pour obtenir le JDK 8 vous pouvez directement consulter le [site d'Oracle](https://www.oracle.com/fr/java/technologies/javase/javase-jdk8-downloads.html). Aussi, si vous désirez installer le Code source, vous pouvez le faire [ici](https://orientdb.com/docs/2.2.x/Tutorial-Installation.html).

Aprés avoir téléchargé sur votre ordinateur OrientDB et bien vérifié avoir la version de Java, vous pourrez suivre les instructions suivantes pour finaliser votre installation. 
### <center><font color='red'>Mac OS X </font> - <font color='orange'>Windows</font> - <font color='red'>Linux </font> </center>

-  Ouvrir l’invite de commande :<br>
 > <font color='orange'>Démarrer et rechercher l’invite de commande </font> <br>
 > <font color='red'>Clic droit sur le fichier server.sh du dossier orientdb et l’ouvrir avec Terminal </font> 
 
-  Changer le répertoire de travail au sous dossier bin du dossier orientdb. <br>
Pour le dossier sur le bureau : <br>
 > <font color='orange'>C:\Users\Axel>cd Desktop\orientdb\bin </font> <br>
 > <font color='red'> MacBook-Pro-de-Ibrahima:~ ibrahimasow$  ~/Desktop/orientdb/bin</font> 
 
- Lancer le serveur OrientDB : <br>
 > <font color='orange'> C:\Users\Axel\Desktop\orientdb\bin>server.bat </font> <br>
 > <font color='red'> MacBook-Pro-de-Ibrahima:~ ibrahimasow$ ./server.sh </font>

<img src="orient-terminal.png" width="1100" height="400">

<center> Figure 2 : Lancement du server OrientDB à partir du terminal </center>

#### Lancer le serveur

Si besoin, autorisez l’accès aux réseaux à Java. Lorsque cela est demandé saisissez votre mot de passe pour autoriser l'installation de la base de donnéee. <br>
Pour lancer le serveur OrientDB, il vous faut :
   - lancer le fichier ./server.sh depuis votre invite de commande (terminal sur mac ou linux)
   - sur votre navigateur ouvrir votre localhost sur le 2480. Vous pouvez faire cela à l'adresse suivante : http://localhost:2480/studio/index.html#/ <br>
   
Vous tomberez sur la page d'accueuil de votre base de donnée. Vous êtes prêt, à vous maintenant de changer le monde avec de magnifiques graphes.

<img src="lp_orientdb.png" width="1100" height="400">

<center> Figure 3 : Vue de la page de connexion du serveur local d'OrientDB Desktop </center>

Vous pourrer vérifier à l'aide de requête simple si tout est OK en accédant à la base de donnée créée par défaut (demodb). Vous pourrez par exemple requêter toute la table Profiles grâce à la commande suivante: **SELECT * FROM Profiles**.
Notez que 3 utilisateurs (admin, reader et writer) sont créés par défaut par OrientDB à chaque création de base de donnée. Veuillez de plus à garder précieusement votre code de connexion, il est unique pour l'ensemble de les bases de données que vous administrerez. En cas d'oublie, il vous faudra suivre une procédure assez fastidieuse qui implique d'altérer les fichiers configurations (nous vous conseillons de ne pas tenter ces opérations qui peuvent aboutir à une défection de certaines fonctions importantes).

#### Utiliser un driver

OrientDB a comme évoqué été pensée et construire avec du Java pur, elle utilise SQL comme language de requête (mais aussi XXX) mais ce qui en fait un outil assez apprécié dans la communauté est qu'elle a dès ses débuts permis le développement de "drivers" (des programmes informatiques qui implémentent un protocole pour se connecter à une base de donnée). Ainsi, plusieurs développeurs extérieurs au projet ont programmé des interfaces de connection avec les langagues les plus populaires. On retrouve un driver Java (le plus actif et maintenu) mais aussi et surtout un driver Python appelé [Pyorient](https://github.com/mogui/pyorient). 
Pyorient s'installe facilement avec l'outil de gestion de packages de python pip. Il est nécessaire d'avoir une version de Python ultérieure au 2.7 (la plupart des ordinateurs étant déjà équipé de Python 2.7. Nous vous conseillons cependant d'utiliser Python 3 (>=3.7 étant l'idéal) pour pouvoir pleinement des possibilités de ce driver. 
- Installation de Pyorient : sur votre invite de commande (terminal) : <font color='pink'> **pip install pyorient** </font> <br>
- pour importer pyorient dans votre IDE :  <font color='pink'> **import pyorient**</font> <br>

## 2. Comparaison avec Neo4J

#### <center> @versions : Python : 3.7  //  Pyorient = 1.5.5  // Py2neo = 2020.0.0  //   OrientDB = 3.1.4 //   Neo4J : 4.1.1 // Sous Mac Catalina et Windows 7</center>

<center> Disclaimer : Notre travail porte sur les versions de citées ci-dessus, nos conclusions peuvent donc différer de celles d'autres travaux.</center>

> #### a. Notre approche

 > #### - Stratégie

Afin de présenter au mieux OrientDB et de le comparer à Neo4J, nous avons choisi de le faire sur une stratégie comparative bien définie. Nous avons effet, chosii de travailler à deux sur cette partie. Un de nous à travailler uniquement avec OrientDB/pyOrient et un autre uniquement avec Neo4J/py2neo. Le but étant de partir d'un même jeu de donnée (  celui des Championnats du monde de Formule 1 de 1950 à 2020), construire pour chacun la base de donnéee de son côté avec PyOrient pour l'un et Py2neo pour l'autre. Ensuite, les mêmes requêtes sont faites pour chacune des bases de donnéee. Enfin, chacun partage son expèrience à l'autre et essaie de comprendre en quoi la technologie qu'il a utilisé est meilleure ou moins performant par rapport à l'autre. 
Nous avons de plus décidé d'un nombre de critères bien défini qui nous semble pertinent pour une bonne utilisation d'une base de donnée orientée graphe.

 > #### - Jeu de données

Le jeu de données, disponible sur [kaggle](https://www.kaggle.com/rohanrao/formula-1-world-championship-1950-2020), regroupe l'ensemble des informations relatives au déroulé et aux résultats des Grands Prix de Formule 1 depuis 1950. On y retrouve des informations sur les écuries (constructors), les épreuves de qualification (qualifying), les pilotes (drivers), les courses (races), les temps (laps stops)… Dans un soucis de cohérence avec les questions qui nous intéresse et d'adaptation de ce jeu de données aux capacités de nos ordinateurs, nous avons choisi de ne travailler que sur les tables suivantes : Constructors - Drivers - Races - Circuits - Results. Ces tables sont à elles seules suffisantes pour prendre en main OrientDB et Neo4J et réaliser au mieux la comparaison. Aussi, parce qu'il s'agit de données assez importantes, toutes ces tables sont reliées entre elles par des clés étrangers très pertinent dans les bases de données relationnelles. Nous allons voir qu'elles servent aussi énormément en NoSQL. La figure 4 présente contenu de chaque table. Aussi, dans un souci de simplification et de focalisation sur l'essentiel, nous n'allons extraire de chaque table que des variables qui nous semblent pertinentes e.g : Pour Drivers code et dob (date-of-birth) ne seront pas utilisées pour construire nos bases de données.

<img src="dtst.png" width="1100" height="400">

> #### b. Création des bases de données

   > - ##### Sur OrientDB

In [46]:
import pyorient 
from pyorient.ogm import *
from csv import *
import pandas as pd
import numpy as np
import time as tm
from tabulate import tabulate
import seaborn as sns
import pprint

In [10]:
import socket
socks = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
socks.settimeout(1000.0) # set timeout is the attr of socks.

In [11]:
#client.db_create(
 # "F1",
  # pyorient.DB_TYPE_GRAPH,
   # pyorient.STORAGE_TYPE_PLOCAL)

In [12]:
client = pyorient.OrientDB("localhost", 2424)
sessionToken = client.get_session_token()
client.set_session_token(True)
session_id = client.connect("root", "merlin")

In [13]:
client.db_open("Formula1", "root", "merlin");

In [14]:
client.db_size()

14564585

ETL also possible

## Creating the F1 database 
### Constructors data

In [15]:
debut = tm.time()
path_to_data = "/Users/ibrahimasow/Desktop/formula_1/"
file= open(path_to_data+'constructors.csv','r')
constructors = pd.read_csv(file)
constructors = constructors.rename(columns={"name": "cons_name", "nationality": "cons_nationality"})
constructors

,constructorId,constructorRef,cons_name,cons_nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,212,alpha_tauri,Scuderia Alpha Tauri,Italian,http://en.wikipedia.org/wiki/Scuderia_Alpha_Tauri
210,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri

In [16]:
constructorId = constructors['constructorId'].to_list()
constructorRef = constructors['constructorRef'].to_list()
cons_name = constructors['cons_name'].to_list()
cons_nationality = constructors['cons_nationality'].to_list()

In [9]:
client.command("CREATE Class Constructors EXTENDS V")

[22]

In [14]:
client.set_session_token(True)

In [21]:
# Initialize Batch Commands Array
batch_cmds = ['begin']

In [22]:
for a, b in zip(range(len(cons_name)), constructorId):
    command = ("CREATE VERTEX Constructors "
               "SET constructorId = '%s', constructorRef = '%s', cons_name ='%s', cons_nationality ='%s'"
          % (b,
             constructorRef[a],
             cons_name[a],
             cons_nationality[a]
            ))
    batch_cmds.append(command)

In [23]:
# Add Batch Commit
batch_cmds.append('commit retry 100;')

In [24]:
# Join with Semicolons
cmd = ';'.join(batch_cmds)

In [25]:
# Execute Commands
results = client.batch(cmd)

### Circuits data

In [17]:
file= open(path_to_data+'circuits.csv','r')
circuits = pd.read_csv(file)
circuits = circuits.rename(columns={"name": "circuits_name"})
circuits

,circuitId,circuitRef,circuits_name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,\N,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,\N,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,\N,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,\N,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
71,72,port_imperial,Port Imperial Street Circuit,New Jersey,USA,40.77690,-74.01110,\N,http://en.wikipedia.org/wiki/Port_Imperial_Str...
72,73,BAK,Baku City Circuit,Baku,Azerbaijan,40.37250,49.85330,\N,http://en.wikipedia.org/wiki/Baku_City_Circuit
73,74,hanoi,Hanoi Street Circuit,Hanoi,Vietnam,21.01660,105.76600,\N,http://en.wikipedia.org/wiki/Hanoi_Street_Circuit
74,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,\N,http://en.wikipedia.org/wiki/Algarve_Internati...
75,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,\N,http://en.wikipedia.org/wiki/Mugello_Circuit

In [18]:
circuitId = circuits['circuitId'].to_list()
circuits_name = circuits['circuits_name'].to_list()
location = circuits['location'].to_list()
country = circuits['country'].to_list()
lat = circuits['lat'].to_list()
lng = circuits['lng'].to_list()

In [28]:
client.command("CREATE Class Circuits EXTENDS V")

[23]

In [12]:
client.set_session_token(True)

In [30]:
# Initialize Batch Commands Array
batch_cmds = ['begin']

In [31]:
for a, b in zip(range(len(circuitId)), circuitId):
    command = ("CREATE VERTEX Circuits "
               "SET circuitId = '%s',name ='%s', location ='%s', country='%s', lat='%s', lng='%s'"
          % (b,
             circuits_name[a],
             location[a],
             country[a],
             lat[a],
             lng[a]
            ))
    batch_cmds.append(command)

In [32]:
# Add Batch Commit
batch_cmds.append('commit retry 100;')

In [33]:
# Join with Semicolons
cmd = ';'.join(batch_cmds)

In [34]:
# Execute Commands
results = client.batch(cmd)

### Races data

In [19]:
file= open(path_to_data+'races.csv','r')
races = pd.read_csv(file)
races = races.rename(columns={"name": "races_name"})
races

,raceId,year,round,circuitId,races_name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...
...,...,...,...,...,...,...,...,...
1030,1043,2020,13,21,Emilia Romagna Grand Prix,2020-11-01,12:10:00,https://en.wikipedia.org/wiki/2020_Emilia_Roma...
1031,1044,2020,14,5,Turkish Grand Prix,2020-11-15,10:10:00,https://en.wikipedia.org/wiki/2020_Turkish_Gra...
1032,1045,2020,15,3,Bahrain Grand Prix,2020-11-29,15:10:00,https://en.wikipedia.org/wiki/2020_Bahrain_Gra...
1033,1046,2020,16,3,Sakhir Grand Prix,2020-12-06,17:10:00,https://en.wikipedia.org/wiki/2020_Sakhir_Gran...
1034,1047,2020,17,24,Abu Dhabi Grand Prix,2020-12-13,13:10:00,https://en.wikipedia.org/wiki/2020_Abu_Dhabi_G...

In [20]:
raceId = races['raceId'].to_list()
year = races['year'].to_list()
round = races['round'].to_list()
circuitId = races['circuitId'].to_list()
races_name = races['races_name'].to_list()
date = races['date'].to_list()

In [38]:
client.command("CREATE Class Races EXTENDS V")

[24]

In [60]:
client.set_session_token(True)

In [41]:
# Initialize Batch Commands Array
batch_cmds = ['begin']

In [42]:
for a, b, c, d, e in zip(range(len(raceId)), raceId, year, round, circuitId):
    command = ("CREATE VERTEX Races "
               "SET raceId = '%s', year = '%s', round ='%s', circuitId ='%s', races_name='%s', date='%s'"
          % (b,
             c,
             d,
             e,
             races_name[a],
             date[a]
            ))
    batch_cmds.append(command)

In [43]:
# Add Batch Commit
batch_cmds.append('commit retry 100;')

In [44]:
# Join with Semicolons
cmd = ';'.join(batch_cmds)

In [45]:
# Execute Commands
results = client.batch(cmd)

### Drivers

In [21]:
file= open(path_to_data+'drivers.csv','r')
drivers = pd.read_csv(file)
drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
843,845,sirotkin,35,SIR,Sergey,Sirotkin,1995-08-27,Russian,http://en.wikipedia.org/wiki/Sergey_Sirotkin_(...
844,846,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris
845,847,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_%2...
846,848,albon,23,ALB,Alexander,Albon,1996-03-23,Thai,http://en.wikipedia.org/wiki/Alexander_Albon
847,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi

In [22]:
drivers['surname'] = drivers['surname'].str.replace("d'Orey",'dOrey')
drivers['surname'] = drivers['surname'].str.replace("d'Ambrosio",'dAmbrosio')
drivers['surname'] = drivers['surname'].str.replace("O'Connor",'OConnor')
drivers['surname'] = drivers['surname'].str.replace("O'Brien",'OBrien')

In [23]:
drivers = drivers.replace(to_replace =r"\N", 
                 value ="NA")

In [24]:
driverId = drivers['driverId'].to_list()
driverRef = drivers['driverRef'].to_list()
number = drivers['number'].to_list()
code = drivers['code'].to_list()
forename = drivers['forename'].to_list()
surname = drivers['surname'].to_list()
nationality = drivers['nationality'].to_list()
#my_list

In [50]:
# client.command("CREATE Class Drivers EXTENDS V")

[25]

In [51]:
# Initialize Batch Commands Array
batch_cmds = ['begin']

In [52]:
for a, b in zip(range(len(driverId)), driverId):
    command = ("CREATE VERTEX Drivers "
               "SET driverId = '%s', driverRef = '%s', forename ='%s', surname= '%s', nationality= '%s'"
          % (b,
             driverRef[a],
             forename[a],
             surname[a],
             nationality[a]
            ))
    batch_cmds.append(command)

In [53]:
# Add Batch Commit
batch_cmds.append('commit retry 100;')

In [54]:
# Join with Semicolons
cmd = ';'.join(batch_cmds)

In [55]:
# Execute Commands
results = client.batch(cmd)

### Results

In [25]:
file= open(path_to_data+'results.csv','r')
results = pd.read_csv(file)
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24855,24861,1042,825,210,20,19,16,16,16,0.0,65,\N,\N,63,16,1:21.460,205.632,11
24856,24862,1042,154,210,8,18,17,17,17,0.0,65,\N,\N,59,17,1:21.664,205.118,11
24857,24863,1042,849,3,6,20,18,18,18,0.0,64,\N,\N,53,19,1:21.859,204.629,12
24858,24864,1042,826,213,26,13,19,19,19,0.0,64,\N,\N,59,8,1:20.449,208.216,12
24859,24865,1042,840,211,18,12,\N,R,20,0.0,51,\N,\N,45,18,1:21.694,205.043,130

In [26]:
results = results.replace(to_replace =r"\N", 
                 value ="NA")

In [27]:
resultId = results['resultId'].to_list()
raceId = results['raceId'].to_list()
driverId = results['driverId'].to_list()
constructorId = results['constructorId'].to_list()
grid = results['grid'].to_list()
position = results['position'].to_list()
positionOrder = results['positionOrder'].to_list()
points = results['points'].to_list()
laps = results['laps'].to_list()
time = results['time'].to_list()
rank = results['rank'].to_list()
statusId = results['statusId'].to_list()

In [61]:
# client.command("CREATE Class Results EXTENDS V")

[26]

In [20]:
import socket
socks = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
socks.settimeout(1500.0) # settimeout is the attr of socks.

In [63]:
# Initialize Batch Commands Array
batch_cmds = ['begin']

In [64]:
for a, b, c,d, e, f,g,h,i, in zip(resultId, raceId, driverId, constructorId, position, positionOrder, points, rank, statusId):
    command = ("CREATE VERTEX Results "
               "SET resultId = '%s', raceId = '%s', driverId ='%s', constructorId ='%s',position= '%s', positionOrder='%s', points= '%s',rank='%s' , statusId= '%s'"
          % (a,
             b,
             c,
             d,
             e,
             f,
             g,
             h,
             i
            ))
    batch_cmds.append(command)

In [65]:
# Add Batch Commit
batch_cmds.append('commit retry 100;')

In [66]:
# Join with Semicolons
cmd = ';'.join(batch_cmds)

In [67]:
# Execute Commands
results = client.batch(cmd)

## Creating edges

In [68]:
client.command("CREATE Class took_place_on EXTENDS E") # Course s'est passé au Circuit 
client.command("CREATE Class d_results EXTENDS E") # Driver/Constructeur result for a Course
client.command("CREATE Class c_results EXTENDS E") # Driver/Constructeur result for a Course
client.command("CREATE Class participated_to EXTENDS E") # Driver/Constructeur a participé à Course

[30]

### Race took_place_on Circuit

In [373]:
#client.command("CREATE Class took_place_on EXTENDS E") # Course s'est passé au Circuit

[29]

#for i, j in zip(races["raceId"], races["circuitId"]):
#    print(i, j)

In [69]:
# Initialize Batch Commands Array
batch_cmds = ['begin']

In [70]:
for i, j in zip(races["raceId"], races["circuitId"]):
    command = ("CREATE EDGE took_place_on FROM (SELECT * FROM Races WHERE raceId = %s) TO " 
          "(SELECT * FROM Circuits WHERE circuitId = %s)"
    %(i,
      j
    ))
    batch_cmds.append(command)

In [71]:
# Add Batch Commit
batch_cmds.append('commit retry 100;')

In [72]:
# Join with Semicolons
cmd = ';'.join(batch_cmds)

In [73]:
# Execute Commands
results = client.batch(cmd)

#### Driver result on Race : d_results

In [ ]:
client.command("CREATE Class d_results EXTENDS E") # Driver result for a Race

In [ ]:
batch_cmds = ['begin']
for i, j in zip(results["driverId"], results["resultId"]):
    command = ("CREATE EDGE d_results FROM (SELECT * FROM Drivers WHERE driverId = %s) TO " 
          "(SELECT * FROM Results WHERE resultId = %s)"
    %(i,
      j
    ))
    batch_cmds.append(command)
# Add Batch Commit
batch_cmds.append('commit retry 100;')
# Join with Semicolons
cmd = ';'.join(batch_cmds)
# Execute Commands
results = client.batch(cmd)

#### Constructor result on Race : c_results

In [ ]:
client.command("CREATE Class c_results EXTENDS E") # Constructeur result for a Race

In [ ]:
batch_cmds = ['begin']
for i, j in zip(results["constructorId"], results["resultId"]):
    command = ("CREATE EDGE c_results FROM (SELECT * FROM Constructors WHERE constructorId = %s) TO " 
          "(SELECT * FROM Results WHERE resultId = %s)"
    %(i,
      j
    ))
    batch_cmds.append(command)
# Add Batch Commit
batch_cmds.append('commit retry 100;')
# Join with Semicolons
cmd = ';'.join(batch_cmds)
# Execute Commands
results = client.batch(cmd)

#### Pilote participated to Race

In [ ]:
client.command("CREATE Class participated_to EXTENDS E") # Driver/Constructeur a participé à Course

In [21]:
batch_cmds = ['begin']
for i, j in zip(results["driverId"], results["raceId"]):
    command = ("CREATE EDGE participated_to FROM (SELECT * FROM Drivers WHERE driverId = %s) TO " 
          "(SELECT * FROM Races WHERE raceId = %s)"
    %(i,
      j
    ))
    batch_cmds.append(command)
# Add Batch Commit
batch_cmds.append('commit retry 100;')
# Join with Semicolons
cmd = ';'.join(batch_cmds)
# Execute Commands
results = client.batch(cmd)

In [ ]:
end = time.time()
print("La création de la base de donnée avec pyOrient a nécessité" + " " + str(round(end - start, 2)) + "s")

   > - ##### Sur Neo4J

In [ ]:
from py2neo import Graph, Node, Relationship
from  py2neo.ogm import *

# En amont :
-  Ouvrir Neo4j et créer une nouvel base locale intitulée "Formule1"
-  avec mot de passe : Neo4j
-  La demarrer 
-  et l'ouvrir

In [ ]:
graph_db = Graph("bolt://127.0.0.1:7687", auth=("neo4j", "merlin"))

In [ ]:
Start2 = tm.time()

Pour Constructors (détailler ici)

In [ ]:
constructors = {}

with open(path_to_data+"constructors.csv", "r") as f:
    first = True
    for l in f :
        if not first:
            col = l.split(",")
            constructors[col[0]] =  Node("Constructor",
                                  id = int(col[0]),
                                  name = str(col[2]),
                                  nationalityC=str(col[3])) #rajouter.strip a la fin si marche pas ?
        else :
            first = False
            
pd.DataFrame(constructors)

In [ ]:
constructors = {}

with open(path_to_data+"constructors.csv", "r") as f:
    first = True
    for l in f :
        if not first:
            col = l.split(",")
            constructors[col[0]] =  Node("Constructor",
                                  id = int(col[0]),
                                  name = str(col[2]),
                                  nationalityC=str(col[3])) #rajouter.strip a la fin si marche pas ?
        else :
            first = False           
# pd.DataFrame(constructors)

races = {}

with open(path_to_data+"races.csv", "r") as f:
    first = True
    for l in f :
        if not first:
            col = l.split(",")
            races[col[0]] =  Node("Race",
                                  id = int(col[0]),
                                  year= int(col[1]),
                                  tour=str(col[2]),
                                  circuitId=int(col[3]),
                                  name=str(col[4]),
                                  date=str(col[5])) #rajouter.strip a la fin si marche pas ?
        else :
            first = False

#pd.DataFrame(races)

# ____# Table pilote #_______
drivers = {}

with open(path_to_data+"drivers.csv", "r", errors='ignore', encoding='utf-8') as f:
    first = True
    for l in f :
        if not first:
            col = l.split(",")
            drivers[col[0]] =  Node("drivers",
                                  id = int(col[0]),
                                  code= str(col[3]),
                                  name=str(col[4]),
                                  surname=str(col[5]),
                                  birth=str(col[6]),
                                  nationality=str(col[7]))
        else :
            first = False

# pd.DataFrame(drivers)

#____# Table Résultats #_______
results = {}
df = pd.read_csv(path_to_data+"results.csv",delimiter=",")

for index,row in df.iterrows():
    #print(row)
    results[row['resultId']] = Node("Result",
                                id=int(row['resultId']),
                                race=int(row["raceId"]),
                                driver=int(row["driverId"]),
                                constructor=int(row["constructorId"]),
                                position=str(row["position"]),
                                positionOrder=str(row["positionOrder"]),
                                points=int(row["points"]),
                                time=str(row["time"]),
                                rank=str(row["rank"])
# pd.DataFrame(results)

In [ ]:

############################ RELATION ENTRE LES TABLES ############################
rel=[]

# Dans cette partie nous créeons les relations entre les tables et les noeuds. 
# La première relation serra plus detaillée dans sa construction afin de servir d'exemple pour la réalisation des suivantes. 

# Exemple : On va chercher a créer une relation entre la course et le circuit sur lequel elle a lieu

# Relation Race-Circuit : "SUR LE CIRCUIT" ###
# La première étape consiste à importer le document csv ou les deux informations sont reliées (présentes sur sur la même ligne).
df = pd.read_csv(path_to_data+"races.csv",delimiter=",")

# Puis le principe consiste à indiquer dans quelle colone (du document csv) on va retrouver l'information.
# (On peut le faire par le numéro de la colonne avec l.split ou avec le nom de la colonne)
for index,row in df.iterrows():
    course = races[str(row['raceId'])]
    # Pour l'information concernant la course c'est dans la colonne 'raceId' 
    # Pour la première ligne, raceId = 1 
    circuit = circuits[str(row['circuitId'])]
    # Pour l'information concernant le circuit c'est dans la colonne 'circuitId'
    # Pour la première ligne du doc csv, circuitId = 1 
    rel.append(Relationship(course,"Took_place_on",circuit))
    # Ici on lie alors par la relation "SUR LE CIRCUIT" 
    # le noeud de la base circuit, dont le circuitId = 1,  
    # avec le noeud de la base races, dont le raceId = 1.

In [ ]:
# Les relations suivantes suivent la même méthode/structure
    
# relation Pilote - Course : "A PARTICIPE" ### 
df = pd.read_csv(path_to_data+"results.csv",delimiter=",")
for index,row in df.iterrows():
    course = races[str(row['raceId'])]
    pilote = drivers[str(row['driverId'])]
    rel.append(Relationship(pilote,"Participated_to",course))

    
# Relation Résulats - Pilote ###
df = pd.read_csv(path_to_data+"results.csv",delimiter=",")
for index,row in df.iterrows():
    resultat = results[row['resultId']]
    pilote = drivers[str(row['driverId'])]
    rel.append(Relationship(pilote,"d_results",resultat))

# Relation Résulats - Ecurie ###
df = pd.read_csv(path_to_data+"results.csv",delimiter=",")
for index,row in df.iterrows():
    resultat = results[row['resultId']]
    constructeur = constructors[str(row['constructorId'])]
    rel.append(Relationship(constructeur,"c_results",resultat))
    
for r in rel :
    graph_db.create(r)

end2 = tm.time()
print("La création de la base de donnée avec py2neo a nécessité" + " " + str(round(end - start, 2)) + "s")

In [ ]:
# Check if databse well created 
from py2neo import Graph
graph = Graph("bolt://localhost:7687", auth=("neo4j", "merlin"))
try:
    graph.run("Match () Return 1 Limit 1")
    print('ok')
except Exception:
    print('not ok')

> #### c. Requêtes

  > ###### Récupération de quantité limitée de données pour vérifier la bonne mise en place de la base de donnée

In [ ]:
client.command("SELECT * FROM took_place_on LIMIT 25")

In [ ]:
# 1) Get some data # ok
print(tabulate(list(graph_db.run("MATCH (n1)-[r]->(n2) RETURN r, n1, n2 LIMIT 20"))))

  > ###### List of German pilots

In [36]:
start2 = tm.time()

german_pilots = client.command("SELECT forename, surname, nationality FROM Drivers2 WHERE nationality='German'")
pilots_list = []
values_dict = []
keys_dict = []

for i in range(len(german_pilots)):
    pilots_list.append(german_pilots[i].__dict__)
    values_dict.append(list(pilots_list[i]["_OrientRecord__o_storage"].values()))
    df = pd.DataFrame(values_dict)
    
keys_dict = list(pilots_list[1]["_OrientRecord__o_storage"].keys())
df.columns = keys_dict
end2 = tm.time()
df.head()

PyOrientCommandException:  -

In [33]:
print("L'affichage du résultat a nécessité" + " " + str(round(end2 - start2, 2)) + "s")

NameError: name 'end2' is not defined

In [ ]:
# 3) Tous les pilotes allemands # ok
query_res = graph_db.run("MATCH (d:drivers) WHERE d.nationality= '\"German\"' RETURN d.name, d.surname").data()
df = pd.DataFrame(query_res)
df.columns = ('name', "surname")
df.head()
df["name"] = df["name"].str.replace(r"[\"]"," ") 
df["surname"] = df["surname"].str.replace(r"[\"]"," ") 
df.head()

  > Pilote les plus titrés top 3

In [ ]:
client.command("")

In [ ]:
# 12) Quel est le classement des pilotes les plus titrés ? Top 3 pour l'instant # ok
graph_db.run("Match (p:drivers)-[:`RESULTATS PILOTE`]-(res:Result {rank:'1.0'}) Return count(res) as nbtitre,p.name,p.surname,p.nationality ORDER BY nbtitre desc")

  > ###### Schéma complet de Renault au grand prix de Singapour de 2017

In [ ]:
client.command("")

In [ ]:
graph_db.run("MATCH (course:Race {date:'2017-09-17', name:'Singapore Grand Prix'})-[:`A LA COURSE `]-(res:Result),(res:Result)-[:`RESULTATS ECURIE`]-(ecurie:Constructor {name:'Renault'}),(res:Result)-[:`RESULTATS PILOTE`]-(pilote:drivers), (circuit:Circuit)-[:`SUR LE CIRCUIT `]-(course:Race)Return course.name,res.rank,ecurie.name,pilote.name,pilote.surname,circuit.name")

Shortest path
SELECT expand(path) FROM (
  SELECT shortestPath($from, $to) AS path 
  LET 
    $from = (SELECT FROM Profiles WHERE Name='Santo' and Surname='OrientDB'), 
    $to = (SELECT FROM Countries WHERE Name='United States') 
  UNWIND path
)

## 3. Comparaison

# Tableau comparatif

# Tableau comparatif