In [25]:
from py2neo import Graph, Node, Relationship
from  py2neo.ogm import *
import pandas as pd
import time
import numpy as np
from tabulate import tabulate
import pprint

In [6]:

#############################################################################
################# Importation de la base de donnée dans Neo4j ###############

# En amont :
    # 1) Ouvrir Neo4j et créer une nouvel base locale intitulée "Formule1"
    # 2) avec mot de passe : Neo4j
    # 3) La demarrer 
    # 4) et l'ouvrir 

############################ CREATION DES TABLES ############################

path_to_data = "/Users/ibrahimasow/Desktop/formula_1/"

graph_db = Graph("bolt://127.0.0.1:7687", auth=("neo4j", "merlin"))
#graph_db.run("MATCH (n) DETACH DELETE n")
# Dans cette partie, nous créeons les tables de données dans Neo4j via Python 
# à partir de nos documents excels

# Lors de la création des tables, nous pouvons modifier leur contenu en séléctionnant 
# dans le "Node" que les informations qui nous interessent. Pour cela, il est important 
# de diviser son document excel de base (col=l.split(",")) et indiquer l'indice des colonnes
# que l'on souhaite garder. 

# Les différentes infos gardées dans chaque table sont indiquées dans le schémas de la base. 
# Celles en italiques corresspondent à celles que nosu avons enlevées.

In [5]:

# ____# Table circuits #_______
circuits = {}

with open(path_to_data+"circuits.csv", "r", errors='ignore', encoding='utf-8') as f:
    first = True
    for l in f :
        if not first:
            col = l.split(",")
            circuits[col[0]] =  Node("Circuit",
                                  circuitId = int(col[0]),
                                  name = str(col[2]),
                                  location=str(col[3]),
                                  country=str(col[4]))
        else :
            first = False
pd.DataFrame(circuits)

,1,2,3,4,5,6,7,8,9,10,...,67,68,69,70,71,72,73,74,75,76
circuitId,1,2,3,4,5,6,7,8,9,10,...,67,68,69,70,71,72,73,74,75,76
name,"""Albert Park Grand Prix Circuit""","""Sepang International Circuit""","""Bahrain International Circuit""","""Circuit de Barcelona-Catalunya""","""Istanbul Park""","""Circuit de Monaco""","""Circuit Gilles Villeneuve""","""Circuit de Nevers Magny-Cours""","""Silverstone Circuit""","""Hockenheimring""",...,"""Circuit de Pedralbes""","""Buddh International Circuit""","""Circuit of the Americas""","""Red Bull Ring""","""Sochi Autodrom""","""Port Imperial Street Circuit""","""Baku City Circuit""","""Hanoi Street Circuit""","""Autódromo Internacional do Algarve""","""Autodromo Internazionale del Mugello"""
location,"""Melbourne""","""Kuala Lumpur""","""Sakhir""","""Montmeló""","""Istanbul""","""Monte-Carlo""","""Montreal""","""Magny Cours""","""Silverstone""","""Hockenheim""",...,"""Barcelona""","""Uttar Pradesh""","""Austin""","""Spielburg""","""Sochi""","""New Jersey""","""Baku""","""Hanoi""","""Portimão""","""Mugello"""
country,"""Australia""","""Malaysia""","""Bahrain""","""Spain""","""Turkey""","""Monaco""","""Canada""","""France""","""UK""","""Germany""",...,"""Spain""","""India""","""USA""","""Austria""","""Russia""","""USA""","""Azerbaijan""","""Vietnam""","""Portugal""","""Italy"""

In [6]:
 
    
# ____# Table pilote #_______
drivers = {}

with open(path_to_data+"drivers.csv", "r", errors='ignore', encoding='utf-8') as f:
    first = True
    for l in f :
        if not first:
            col = l.split(",")
            drivers[col[0]] =  Node("drivers",
                                  id = int(col[0]),
                                  code= str(col[3]),
                                  name=str(col[4]),
                                  surname=str(col[5]),
                                  birth=str(col[6]),
                                  nationality=str(col[7]))
        else :
            first = False

pd.DataFrame(drivers)

,1,2,3,4,5,6,7,8,9,10,...,839,840,841,843,844,845,846,847,848,849
id,1,2,3,4,5,6,7,8,9,10,...,839,840,841,843,844,845,846,847,848,849
code,"""HAM""","""HEI""","""ROS""","""ALO""","""KOV""","""NAK""","""BOU""","""RAI""","""KUB""","""GLO""",...,"""OCO""","""STR""","""GIO""","""HAR""","""LEC""","""SIR""","""NOR""","""RUS""","""ALB""","""LAT"""
name,"""Lewis""","""Nick""","""Nico""","""Fernando""","""Heikki""","""Kazuki""","""Sébastien""","""Kimi""","""Robert""","""Timo""",...,"""Esteban""","""Lance""","""Antonio""","""Brendon""","""Charles""","""Sergey""","""Lando""","""George""","""Alexander""","""Nicholas"""
surname,"""Hamilton""","""Heidfeld""","""Rosberg""","""Alonso""","""Kovalainen""","""Nakajima""","""Bourdais""","""Räikkönen""","""Kubica""","""Glock""",...,"""Ocon""","""Stroll""","""Giovinazzi""","""Hartley""","""Leclerc""","""Sirotkin""","""Norris""","""Russell""","""Albon""","""Latifi"""
birth,"""1985-01-07""","""1977-05-10""","""1985-06-27""","""1981-07-29""","""1981-10-19""","""1985-01-11""","""1979-02-28""","""1979-10-17""","""1984-12-07""","""1982-03-18""",...,"""1996-09-17""","""1998-10-29""","""1993-12-14""","""1989-11-10""","""1997-10-16""","""1995-08-27""","""1999-11-13""","""1998-02-15""","""1996-03-23""","""1995-06-29"""
nationality,"""British""","""German""","""German""","""Spanish""","""Finnish""","""Japanese""","""French""","""Finnish""","""Polish""","""German""",...,"""French""","""Canadian""","""Italian""","""New Zealander""","""Monegasque""","""Russian""","""British""","""British""","""Thai""","""Canadian"""

In [7]:

#____# Table courses #_______
races = {}

with open(path_to_data+"races.csv", "r") as f:
    first = True
    for l in f :
        if not first:
            col = l.split(",")
            races[col[0]] =  Node("Race",
                                  id = int(col[0]),
                                  year= int(col[1]),
                                  tour=str(col[2]),
                                  circuitId=int(col[3]),
                                  name=str(col[4]),
                                  date=str(col[5])) #rajouter.strip a la fin si marche pas ?
        else :
            first = False

pd.DataFrame(races)

,1,2,3,4,5,6,7,8,9,10,...,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047
id,1,2,3,4,5,6,7,8,9,10,...,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047
year,2009,2009,2009,2009,2009,2009,2009,2009,2009,2009,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
tour,1,2,3,4,5,6,7,8,9,10,...,8,9,10,11,12,13,14,15,16,17
circuitId,1,2,17,3,4,6,5,9,20,11,...,14,76,71,20,75,21,5,3,3,24
name,"""Australian Grand Prix""","""Malaysian Grand Prix""","""Chinese Grand Prix""","""Bahrain Grand Prix""","""Spanish Grand Prix""","""Monaco Grand Prix""","""Turkish Grand Prix""","""British Grand Prix""","""German Grand Prix""","""Hungarian Grand Prix""",...,"""Italian Grand Prix""","""Tuscan Grand Prix""","""Russian Grand Prix""","""Eifel Grand Prix""","""Portuguese Grand Prix""","""Emilia Romagna Grand Prix""","""Turkish Grand Prix""","""Bahrain Grand Prix""","""Sakhir Grand Prix""","""Abu Dhabi Grand Prix"""
date,"""2009-03-29""","""2009-04-05""","""2009-04-19""","""2009-04-26""","""2009-05-10""","""2009-05-24""","""2009-06-07""","""2009-06-21""","""2009-07-12""","""2009-07-26""",...,"""2020-09-06""","""2020-09-13""","""2020-09-27""","""2020-10-11""","""2020-10-25""","""2020-11-01""","""2020-11-15""","""2020-11-29""","""2020-12-06""","""2020-12-13"""

In [8]:

#____# Table Résultats #_______
results = {}
df = pd.read_csv(path_to_data+"results.csv",delimiter=",")

for index,row in df.iterrows():
    #print(row)
    results[row['resultId']] = Node("Result",
                                id=int(row['resultId']),
                                race=int(row["raceId"]),
                                driver=int(row["driverId"]),
                                constructor=int(row["constructorId"]),
                                position=str(row["position"]),
                                points=int(row["points"]),
                                laps=int(row["laps"]),
                                time=str(row["time"]),
                                milliseconds=str(row["milliseconds"]),
                                fastestlap=str(row["fastestLap"]),
                                rank=str(row["rank"]),
                                fastestLapTime=str(row["fastestLapTime"]),
                                fastestLapspeed=(row["fastestLapSpeed"]))
pd.DataFrame(results)

,1,2,3,4,5,6,7,8,9,10,...,24856,24857,24858,24859,24860,24861,24862,24863,24864,24865
id,1,2,3,4,5,6,7,8,9,10,...,24856,24857,24858,24859,24860,24861,24862,24863,24864,24865
race,18,18,18,18,18,18,18,18,18,18,...,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042
driver,1,2,3,4,5,6,7,8,9,10,...,8,848,846,847,841,825,154,849,826,840
constructor,1,2,3,4,1,3,5,6,2,7,...,51,9,1,3,51,210,210,3,213,211
position,1,2,3,4,5,6,7,8,\N,\N,...,11,12,13,14,15,16,17,18,19,\N
points,10,8,6,5,4,3,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
laps,58,58,58,58,58,57,55,53,47,43,...,65,65,65,65,65,65,65,64,64,51
time,1:34:50.616,+5.478,+8.163,+17.181,+18.014,\N,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
milliseconds,5690616,5696094,5698779,5707797,5708630,\N,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
fastestlap,39,41,41,58,43,50,22,20,15,23,...,60,61,65,62,46,63,59,53,59,45
rank,2,3,5,7,1,14,12,4,9,13,...,15,5,3,13,20,16,17,19,8,18
fastestLapTime,1:27.452,1:27.739,1:28.090,1:28.603,1:27.418,1:29.639,1:29.534,1:27.903,1:28.753,1:29.558,...,1:21.058,1:19.890,1:19.360,1:20.882,1:21.893,1:21.460,1:21.664,1:21.859,1:20.449,1:21.694
fastestLapspeed,218.300,217.586,216.719,215.464,218.385,212.974,213.224,217.180,215.100,213.166,...,206.652,209.673,211.073,207.101,204.544,205.632,205.118,204.629,208.216,205.043

In [9]:

#____# Table Ecuries #_______
constructors = {}

with open(path_to_data+"constructors.csv", "r") as f:
    first = True
    for l in f :
        if not first:
            col = l.split(",")
            constructors[col[0]] =  Node("Constructor",
                                  id = int(col[0]),
                                  name = str(col[2]),
                                  nationalityC=str(col[3])) #rajouter.strip a la fin si marche pas ?
        else :
            first = False
            
pd.DataFrame(constructors)

,1,2,3,4,5,6,7,8,9,10,...,204,205,206,207,208,209,210,211,212,213
id,1,2,3,4,5,6,7,8,9,10,...,204,205,206,207,208,209,210,211,212,213
name,"""McLaren""","""BMW Sauber""","""Williams""","""Renault""","""Toro Rosso""","""Ferrari""","""Toyota""","""Super Aguri""","""Red Bull""","""Force India""",...,"""Brabham-Alfa Romeo""","""Lotus""","""Marussia""","""Caterham""","""Lotus F1""","""Manor Marussia""","""Haas F1 Team""","""Racing Point""","""Scuderia Alpha Tauri""","""AlphaTauri"""
nationalityC,"""British""","""German""","""British""","""French""","""Italian""","""Italian""","""Japanese""","""Japanese""","""Austrian""","""Indian""",...,"""British""","""Malaysian""","""Russian""","""Malaysian""","""British""","""British""","""American""","""British""","""Italian""","""Italian"""

In [10]:

############################ RELATION ENTRE LES TABLES ############################

rel=[]

# Dans cette partie nous créeons les relations entre les tables et les noeuds. 
# La première relation serra plus detaillée dans sa construction afin de servir d'exemple pour la réalisation des suivantes. 

# Exemple : On va chercher a créer une relation entre la course et le circuit sur lequel elle a lieu

# Relation Race-Circuit : "SUR LE CIRCUIT" ###
# La première étape consiste à importer le document csv ou les deux informations sont reliées (présentes sur sur la même ligne).
df = pd.read_csv(path_to_data+"races.csv",delimiter=",")

# Puis le principe consiste à indiquer dans quelle colone (du document csv) on va retrouver l'information.
# (On peut le faire par le numéro de la colonne avec l.split ou avec le nom de la colonne)
for index,row in df.iterrows():
    course = races[str(row['raceId'])]
    # Pour l'information concernant la course c'est dans la colonne 'raceId' 
    # Pour la première ligne, raceId = 1 
    circuit = circuits[str(row['circuitId'])]
    # Pour l'information concernant le circuit c'est dans la colonne 'circuitId'
    # Pour la première ligne du doc csv, circuitId = 1 
    
    rel.append(Relationship(course,"SUR LE CIRCUIT ",circuit))
    # Ici on lie alors par la relation "SUR LE CIRCUIT" 
    # le noeud de la base circuit, dont le circuitId = 1,  
    # avec le noeud de la base races, dont le raceId = 1.

In [11]:
debut = time.time()
    
# Les relations suivantes suivent la même méthode/structure
    
# relation Pilote - Course : "A PARTICIPE" ### ok 
df = pd.read_csv(path_to_data+"results.csv",delimiter=",")
for index,row in df.iterrows():
    course = races[str(row['raceId'])]
    pilote = drivers[str(row['driverId'])]
    rel.append(Relationship(pilote,"Participated_to",course))
    
# Relation Résulats - Pilote ###
df = pd.read_csv(path_to_data+"results.csv",delimiter=",")
for index,row in df.iterrows():
    resultat = results[row['resultId']]
    pilote = drivers[str(row['driverId'])]
    rel.append(Relationship(pilote,"Results",resultat))

# Relation Résulats - Ecurie ###
df = pd.read_csv(path_to_data+"results.csv",delimiter=",")
for index,row in df.iterrows():
    resultat = results[row['resultId']]
    constructeur = constructors[str(row['constructorId'])]
    rel.append(Relationship(constructeur,"Results_constructor",resultat))
    
for r in rel :
    graph_db.create(r)
# Environ 10min donc soyez patients 

fin = time.time()
print(round(fin - debut, 2), "s")

### Get time needed to create whole database

In [13]:
# Check if databse well created 
from py2neo import Graph
graph = Graph("bolt://localhost:7687", auth=("neo4j", "merlin"))
try:
    graph.run("Match () Return 1 Limit 1")
    print('ok')
except Exception:
    print('not ok')

ok

In [15]:
############# COMMANDE pour NEO4J ###################

# 1) Get some data # ok
print(tabulate(list(graph_db.run("MATCH (n1)-[r]->(n2) RETURN r, n1, n2 LIMIT 1"))))  #'Dans Neo4j'
# limite est le nb de noeuds affichés (plus on en affiche plus c'est long)

-----------------------------------------------------------------------------------  -------------------------------------------------------------------------------------------------------------  ----------------------------------------------------------------------------------------------------------------------
("Australian Grand Prix")-[:SUR LE CIRCUIT  {}]->("Albert Park Grand Prix Circuit")  (_0:Race {circuitId: 1, date: '"2009-03-29"', id: 1, name: '"Australian Grand Prix"', tour: '1', year: 2009})  (_1:Circuit {circuitId: 1, country: '"Australia"', location: '"Melbourne"', name: '"Albert Park Grand Prix Circuit"'})
-----------------------------------------------------------------------------------  -------------------------------------------------------------------------------------------------------------  ----------------------------------------------------------------------------------------------------------------------

In [31]:
xy = graph_db.run("MATCH (n1)-[r]->(n2) RETURN r, n1, n2 LIMIT 1")

In [15]:
# 2) Temps pour afficher tout le réseau depuis 1950 # ok
debut = time.time()
graph_db.run("MATCH (n1)-[r]->(n2) RETURN r, n1, n2")
fin = time.time()
print(round(fin - debut, 2), "s")

15.87 s

In [11]:
# 2) J'enleve toute les courses inférieure aux années 2000 # ok
graph_db.run("MATCH (c:Race) WHERE c.year<2000 OPTIONAL MATCH (c)-[r]-() DELETE c,r")

ValueError: Missing keys

In [33]:

# 3) Tous les pilotes allemands # ok
list(graph_db.run("MATCH (d:drivers) WHERE d.nationality= 'German' RETURN d"))

MATCH (d:drivers) WHERE d.nationality= 'China' RETURN d

In [17]:

# 4) Toutes les courses réalisé sur le circuit de Monaco # ok 
list(graph_db.run("MATCH (n:Circuit)-[:`SUR LE CIRCUIT `]-(m) Where n.name='Circuit de Monaco' Return n,m"))

[]

In [18]:
# 5) Toutes les courses réalisées après 2004 sur le circuit de Silverstone # ok mais pas toutes
graph_db.run("MATCH (n:Circuit {name:'Silverstone Circuit'})-[:`SUR LE CIRCUIT `]-(course:Race) WHERE course.year>2004 Return course.name, course.year")
# Dans neo4j : MATCH (n:Circuit {name:'Silverstone Circuit'})-[:`SUR LE CIRCUIT `]-(course:Race) WHERE course.year>2004 Return course,n

In [19]:
# 6) Qui a gagné le Grand Prix des USA en 2012 ? Et pour quelle écurie courait - il ? # ok 
graph_db.run("Match (course:Race {name:'United States Grand Prix', year:2012})-[:`A LA COURSE `]-(res:Result {rank:'1.0'}), (pilote:drivers)-[:`RESULTATS PILOTE`]-(res),(ecurie:Constructor)-[:`RESULTATS ECURIE`]-(res) Return pilote.name, pilote.surname, ecurie.name, res.rank, course.name")
# dans neo4j : Match (r:Race {name:'United States Grand Prix', year:2012})-[:`A LA COURSE `]-(res:Result {rank:'1.0'}), (pilote:drivers)-[:`RESULTATS PILOTE`]-(res),(ecurie:Constructor)-[:`RESULTATS ECURIE`]-(res) Return pilote,ecurie

In [16]:

# 7) Avec quelle écurie courait Fernando Alonso au grand prix de Malaisie en 2016 ? # ok 
graph_db.run("Match (r:Race {name:'Malaysian Grand Prix', year:2016})-[:`A LA COURSE `]-(res:Result), (p:drivers {name:'Fernando'})-[:`RESULTATS PILOTE`]-(res),(ecurie:Constructor)-[:`RESULTATS ECURIE`]-(res) Return ecurie.name")
# Dans neo4j : Match (r:Race {name:'Malaysian Grand Prix', year:2016})-[:`A LA COURSE `]-(res:Result), (p:drivers {name:'Fernando'})-[:`RESULTATS PILOTE`]-(res),(ecurie:Constructor)-[:`RESULTATS ECURIE`]-(res) Return ecurie

In [20]:
# 8) Nombre de course qu'a fait Micheal Schumacher ? # ok
schumi_races = list(graph_db.run("Match (c:Race)-[:`A PARTICIPE `]-(p:drivers {surname:'Schumacher'}) Return c"))
print("Schumi a eu le tps de faire ", int(len(schumi_races)), " avant de tomber sur une pierre")
# Dans neo4j : Match (c:Race)-[:`A PARTICIPE `]-(p:drivers {surname:'Schumacher'}) Return c

Schumi a eu le tps de faire  0  avant de tomber sur une pierre

In [21]:
# 9) Quelle est la date de la première course de Jaguar ? Quelle était la course ? Sur quel circuit ? Quels étaient les deux pilotes qui les représentaient ? # ok 
graph_db.run("MATCH (e:Constructor {name:'Jaguar'})-[:`RESULTATS ECURIE`]-(res:Result), (course:Race)-[:`A LA COURSE `]-(res) Return min(course.date)")
graph_db.run("MATCH (course:Race {date:'2000-03-12'})-[:`SUR LE CIRCUIT `]-(circuit) Return course.name,circuit.name")
graph_db.run("MATCH (r:Race {date:'2000-03-12'})-[:`A LA COURSE `]-(f:Result),(f:Result)-[:`RESULTATS ECURIE`]-(e:Constructor  {name:'Jaguar'}),(f:Result)-[:`RESULTATS PILOTE`]-(pilote:drivers), (c:Circuit)-[:`SUR LE CIRCUIT `]-(r:Race) Return pilote.name, pilote.surname")

In [22]:
# 10) Donner le schéma complet pour l'écurie Renault au Grand prix de Singapour, le 17 Septembre 2017 ? # ok 
#     C'est à dire le circuit de la course, les pilotes alignés par l'écurie, et leurs résultats respectifs. 
graph_db.run("MATCH (course:Race {date:'2017-09-17', name:'Singapore Grand Prix'})-[:`A LA COURSE `]-(res:Result),(res:Result)-[:`RESULTATS ECURIE`]-(ecurie:Constructor {name:'Renault'}),(res:Result)-[:`RESULTATS PILOTE`]-(pilote:drivers), (circuit:Circuit)-[:`SUR LE CIRCUIT `]-(course:Race)Return course.name,res.rank,ecurie.name,pilote.name,pilote.surname,circuit.name")
# Dans neo4j : MATCH (r:Race {date:'2017-09-17', name:'Singapore Grand Prix'})-[:`A LA COURSE `]-(f:Result),(f:Result)-[:`RESULTATS ECURIE`]-(e:Constructor {name:'Renault'}),(f:Result)-[:`RESULTATS PILOTE`]-(p:drivers), (c:Circuit)-[:`SUR LE CIRCUIT `]-(r:Race)Return r,f,e,p,c

In [23]:

# 11) Quels sont les pilotes dont le nom commence par "Ni" ? # ok
graph_db.run("MATCH (pilote:drivers) WHERE pilote.name STARTS WITH 'Ni' RETURN pilote.name, pilote.surname")

In [24]:
# 12) Quel est le classement des pilotes les plsu titrés ? Top 3 pour l'instant # ok
graph_db.run("Match (p:drivers)-[:`RESULTATS PILOTE`]-(res:Result {rank:'1.0'}) Return count(res) as nbtitre,p.name,p.surname,p.nationality ORDER BY nbtitre desc")

In [25]:
# 13) Chemin le plus court entre Mercedes et le circuit d'Istanbul ? Dans neo4j
list(graph_db.run("MATCH (e:Constructor {name:'Mercedes'}), (c:Circuit {name:'Istanbul Park'}), p=shortestpath((e)-[*]-(c)) Return p"))
# dans neo4j : MATCH (e:Constructor {name:'Mercedes'}), (c:Circuit {name:'Istanbul Park'}), p=shortestpath((e)-[*]-(c)) Return p

[]

In [26]:
# 14) Afficher tout le graph concernant l'écurie McLaren et compter les courses auxquelles l'écurie a participé 
list(graph_db.run("MATCH p =(t { name: 'McLaren' })-->() RETURN p"))
# Dans neo4j : MATCH p =(t { name: 'McLaren' })-->() RETURN p

[]